<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main class="d-flex justify-content-center">
        <div>
            <h1>{{ author['name'] }}'s favorates</h1>
            <table>
                <tr>
                    <th>Title</th>
                    <th># of pages</th>
                </tr>
                {% for book in books  %}
                    <tr>
                        <td>{{ book['title'] }}</td>
                        <td>{{ book['num_of_pages'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h1>Add Author's Favorite</h1>
            <form action="/favorite">
                <label>Book:</label>
                <select name="book">
                    {% for book in books  %}
                        <option value="{{ book['id'] }}">{{ book['title'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add">
            </form>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>