<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <title>Author Show</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main class="d-flex justify-content-center">
        <div class="width80 d-flex justify-content-center">
            <div class="flex2 m-2 p-4 rounded">
                <h1>{{ author.name }}'s favorites</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th># of pages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in fav_books  %}
                            <tr>
                                <td scope="row"><a href="/books/{{ book.id }}">{{ book.title }}</a></td>
                                <td>{{ book.num_of_pages }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="flex2 m-2 p-4 rounded">
                <h1>Add Author's Favorite</h1>
                <form action="/favorite" method='post'>
                    <label>Book:</label>
                    <select name="book_id">
                        {% for book in books  %}
                            <option value="{{ book.id }}">{{ book.title }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name='author_id' value="{{ author.id }}">
                    <input type="hidden" name="redirect_to" value="authors/{{ author.id }}">
                    <input type="submit" value="Add">
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>