<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <title>Authors</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main class="d-flex justify-content-center">
        <div class="width80 d-flex justify-content-center">
            <div class="flex2 bg-dark text-light m-2 p-4 rounded">
                <h1> New Author</h1>
                <form action="authors/new" method='post'>
                    <label>Name:</label>
                    <input type="text" name="name">
                    <input type="submit" value="Create" class="btn btn-info">
                </form>
            </div>
            <div class="flex2 m-2 p-4">
                <h1>All Authors</h1>
                <div class="border border-secondary rounded p-3">
                    {% for author in authors %}
                        <a href="/authors/{{ author.id }}">{{ author.name }}</a><br>
                    {% endfor %}
                </div>
                <a href="/books/add">Add Book</a>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>