<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <title>Recipes</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main class="d-flex justify-content-center fullsize">
        <div class="d-flex flex-column width80 p-3 ms-5 me-5">
        <h3>These are the recipes.</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Under 30 Minutes?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>{{recipe.name}}</td>
                        <td>{{recipe.cook_time}}</td>
                        <td><a href="/recipes/{{recipe.id}}">view instruction </a>
                            {% if user_id == recipe.user_id %}
                                | <a href="/recipes/edit/{{recipe.id}}">edit</a>
                                | <a href="/recipes/delete/{{recipe.id}}">delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>