<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Read (All) </title>
    </head>
    <body>
        <header>
            <nav>
                {% block menu %} {% include 'navbar.html' %} {% endblock menu %}
            </nav>
        </header>
        <h1>All Users</h1>
        <table>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    email
                </th>
                <th>
                    Created At
                </th>
                <th>
                    Actions
                </th>
            </tr>
        {% for user in all_users %}
            <tr>
                <td>
                    {{user.id}}
                </td>
                <td>
                    {{ user.first_name }} {{ user.last_name}}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.created_at }}
                </td>
                <td>
                    <a href="/users/{{ user.id }}"> Show</a> |
                    <a href="/users/{{ user.id }}/edit"> Edit </a> |
                    <a href="/users/{{ user.id }}/destroy"> Delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <a href="/users/new">Add a New User</a>
    </body>
</html>