<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create</title>
    </head>
    <body>
        <h1>Add a New User
            <form action="/users/run" method="post">
                <lable>First Name:</lable>
                <input type='text' id ='fname' name='fname'>
                <lable>Last Name:</lable>
                <input type='text' id='lname' name='lname'>
                <lable>Email:</lable>
                <input type='text' id='email' name='email'>
                <input type="submit" value="Create">
            </form>
        </h1>
    </body>
</html>