* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

table {
    align-self: center;
    border-spacing: 0px;
}
td {
    width: 100px;
    height: 100px;
}
.box1 {
    background-color: var(color1);
}
.box2 {
    background-color:red
}