* {
    margin: 0px;
    padding: 0px;
}
.header-background {
    background-color: rgb(178, 202, 252);
}
.head-bar {
    width: 80%;
    color: white;
    margin: 10px 0px;
}
.city-name {
    font-size: 15pt;
    margin-left: 40px;
}
.main {
    width: 80%;
}
.title-bar {
    margin-top: 20px;
}
.title-bar select {
    margin-left: 5px;
}
hr{
    border: 1px solid #111;
    margin-bottom: 10px;
}
.weather-box {
    background-color: #eee;
    align-items: center;
    padding: 20px 0px;
}
.weather-box > img {
    width: 120px;
    border-radius: 50%;
    margin: 20px;
}
.temperature {
    font-size: 18pt;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.highest {
    color: tomato;
}
.lowest {
    color:royalblue;
}
.cookie-box{
    position: fixed;
    bottom: 10px;
    right: 10%;
    left: 10%;
    border: 2px solid black;
    padding: 10px;

}
.cookie-box img {
    margin-right: 10px;
}

#btn {
    background-color: cornflowerblue;
    border: 3px solid black;
    box-shadow: 3px 3px 0px 0px black;
    padding: 10px;
    width: 180px;
    margin-left: 10px;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inline-block {
    display: inline-block;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}